# SPDX-FileCopyrightText: 2025 Yusaku Washio <s22c1704za@s.chibakoudai.jp>
# SPDX-License-Identifier: BSD-3-Clause

name: test

on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4

      - name: Prepare ROS 2 workspace
        run: |
          set -e
          mkdir -p /root/ros2_ws/src/base64_encoder
          rsync -av --delete ./ /root/ros2_ws/src/base64_encoder/

      - name: Build package
        run: |
          set -e
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          colcon build --packages-select base64_encoder

      - name: Run linters and unit tests
        run: |
          set -e
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          colcon test --packages-select base64_encoder

      - name: Check
        run: |
          set -e
          bash test/test.bash /root/ros2_ws
